@font-face {
  font-family: 'Arvo';
  src: url('./fonts/Arvo-Regular.ttf');
}

a{
  color: #E5E5CB;
}

.topnavlinks{
  color: #E5E5CB;
  font-family: "Arvo";
  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.topnavlinks:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

#favicon
{
    width: 200px;
    height: 200px;
    float: left;
}

#root
{
  background-color: #E5E5CB;
  color: #1A120B;
  font-family: "Arvo";
  text-align: center;
  text-size-adjust: auto;
}

#topnavelements
{
  font-family: "Arvo";
  font-size: larger ;
  
}
  

  
  #logo 
  {
    width: 150px;
    height: 100%;
  }
  
  #topnav
  {
    font-family: "Arvo";
    text-align: right;
    text-size-adjust: auto;
    background-color: #3C2A21;
    height: 200px;
    
  }
  
  #logo
  {
    display: block;
    margin-right: auto;
  }
  
  #intro-main
  {
    text-align: left;
  }
  
  #contact
  {
    text-align: left;
    background-color: #3C2A21;
    color: #D5CEA3 ;
    width: 100%;
    bottom: 0;
    font-size: larger;
  }

  #contactelements
  {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
  }
  
  
  hr.solid {
    border-top: 3px solid #bbb;
  }

  

  
  
  
  
  
.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
}
.loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
    top: 0;
}
.loader::after {
    bottom: 0;
}
@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
   }
    50% {
        height: 8px;
        width: 40px;
   }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
   }
}
